In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [32]:
df_=pd.read_csv('/content/supermarket_sales.csv')
df_

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [33]:
df_.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [34]:
df=pd.DataFrame({'Branch':df_['Branch'],'Gender':df_['Gender'],'Product':df_['Product line'],'Total':df_['Total'],'Paymnet':df_['Payment'],})
df['Customer type']=df_['Customer type']
df

,Branch,Gender,Product,Total,Paymnet,Customer type
0,A,Female,Health and beauty,548.9715,Ewallet,Member
1,C,Female,Electronic accessories,80.2200,Cash,Normal
2,A,Male,Home and lifestyle,340.5255,Credit card,Normal
3,A,Male,Health and beauty,489.0480,Ewallet,Member
4,A,Male,Sports and travel,634.3785,Ewallet,Normal
...,...,...,...,...,...,...
995,C,Male,Health and beauty,42.3675,Ewallet,Normal
996,B,Female,Home and lifestyle,1022.4900,Ewallet,Normal
997,A,Male,Food and beverages,33.4320,Cash,Member
998,A,Male,Home and lifestyle,69.1110,Cash,Normal
999,A,Female,Fashion accessories,649.2990,Cash,Member

In [35]:
df.groupby('Branch').mean()

             Total
Branch
A       312.354031
B       319.872506
C       337.099715

In [36]:
# H0: Branch A makes an averge total of 312 Dollars per day.
# Ha: Branch A makes more than 312 Dollars per day.

In [37]:
sample=df.loc[df['Branch']=='A']
samplea=sample.sample(165)
samplea

,Branch,Gender,Product,Total,Paymnet,Customer type
758,A,Male,Food and beverages,197.9250,Ewallet,Member
797,A,Female,Sports and travel,257.1450,Cash,Member
210,A,Male,Electronic accessories,247.8735,Ewallet,Normal
887,A,Female,Electronic accessories,771.4350,Ewallet,Member
899,A,Male,Food and beverages,331.1280,Ewallet,Member
...,...,...,...,...,...,...
807,A,Female,Electronic accessories,210.9660,Cash,Normal
794,A,Female,Electronic accessories,97.8810,Credit card,Normal
558,A,Male,Food and beverages,262.4580,Ewallet,Member
518,A,Male,Home and lifestyle,72.9330,Ewallet,Normal
348,A,Male,Electronic accessories,191.2470,Cash,Normal

In [38]:
samplea.Total.mean()

319.42915454545454

In [39]:
# standard deviation of the population
sd=np.std(samplea['Total'])
sd

238.1055437781908

In [40]:
samplea.std()

<ipython-input-40-78800fa480e5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  samplea.std()

Total    238.830372
dtype: float64

In [41]:
# Z TEST
xbar=samplea.Total.mean()
mu=312.3
n=200 #sample size
alpha=0.05

In [42]:
xbar

319.42915454545454

In [43]:
zvalue=(xbar-mu)/(sd/np.sqrt(n))
zvalue

0.42343184818190105

In [44]:
z_critical = st.norm.ppf(alpha)  #One tail Test
z_critical

-1.6448536269514729

In [45]:
if (zvalue > z_critical and abs(zvalue) < abs(z_critical)):
  print("Cannot reject H0")
else:
  print("Reject H0")

Cannot reject H0

In [46]:
p_val = (1 - st.norm.cdf(abs(zvalue)))
p_val

0.33599010623464776

In [47]:
#comparing with alpha value
if p_val<alpha:
  print("Reject H0")
else:
  print("Cannot reject H0")

Cannot reject H0

In [48]:
# T TEST
tsamplea=sample.sample(25)
tsamplea

,Branch,Gender,Product,Total,Paymnet,Customer type
586,A,Female,Food and beverages,164.8710,Cash,Normal
962,A,Female,Fashion accessories,16.2750,Credit card,Normal
188,A,Male,Home and lifestyle,77.7735,Ewallet,Normal
626,A,Male,Sports and travel,127.8270,Ewallet,Normal
537,A,Male,Home and lifestyle,102.8370,Ewallet,Normal
592,A,Female,Sports and travel,47.8590,Cash,Member
169,A,Male,Sports and travel,510.9720,Credit card,Member
452,A,Female,Food and beverages,333.9525,Ewallet,Normal
329,A,Male,Electronic accessories,152.7120,Cash,Member
58,A,Female,Home and lifestyle,759.6750,Cash,Member
581,A,Female,Health and beauty,326.2560,Cash,Member
178,A,Male,Food and beverages,465.4440,Ewallet,Normal
487,A,Male,Fashion accessories,156.0300,Ewallet,Normal
959,A,Female,Food and beverages,932.3370,Cash,Member
932,A,Female,Food and beverages,781.6200,Ewallet,Normal
175,A,Male,Home and lifestyle,319.7880,Ewallet,Member
833,A,Male,Health and beauty,95.8650,Ewallet,Member
167,A,Male,Fashion accessories,1039.2900,Credit card,Normal
33,A,Male,Health and beauty,202.8180,Credit card,Normal
273,A,Female,Home and lifestyle,25.2630,Cash,Normal
345,A,Female,Fashion accessories,736.4385,Ewallet,Normal
883,A,Female,Home and lifestyle,216.8460,Ewallet,Member
298,A,Male,Home and lifestyle,252.0420,Cash,Member
763,A,Female,Health and beauty,56.1225,Ewallet,Member
253,A,Male,Home and lifestyle,99.7500,Cash,Normal

In [49]:
t_sd=np.std(tsamplea['Total'])
t_sd

296.80090042263413

In [50]:
xbar=tsamplea.Total.mean()
print(xbar)
mu=312.3
n=50 #sample size
alpha=0.05

320.02656

In [51]:
n = 50
degrees_of_freedom = n-1
t = (xbar - mu)/(t_sd / np.sqrt(n))
t

0.18407973033319297

In [52]:
t_critical = st.t.ppf(alpha, degrees_of_freedom)
t_critical

-1.6765508919142635

In [53]:
if (t > t_critical):
    print("Cannot be reject H0")
else:
    print("Reject H0")

Cannot be reject H0